<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">

		<h2 class="f2 b lh-title mb3">Achievements</h1>

      <div class="mw7 center ph3 pv4">

        <div class="flex flex-wrap mhn1">
          <div class="w-100 w-50-ns ph1-ns">
            <a href="https://www.coursera.org/account/accomplishments/certificate/QNW589QATDY3">
              <img src="/img/achievements/deeplearning1.png" alt="a">
            </a>
          </div>
  
          <div class="w-100 w-50-ns ph1-ns">
            <a href="https://www.coursera.org/account/accomplishments/certificate/KLAZMB7UANXK">
              <img src="/img/achievements/deeplearning2.png" alt="a">
            </a>
          </div>
      
          <div class="w-100 w-50-ns ph1-ns">
            <img src="/img/achievements/cehv8.png" alt="a">
          </div>
      
          <div class="w-100 w-50-ns ph1-ns">
            <a href="https://courses.cognitiveclass.ai/certificates/8282ba8f69734714971864c717040b2c">
              <img src="/img/achievements/python101.png" alt="a">
            </a>
          </div>
        </div>
      </div>

		<div class="tc">
			<a href="/achievements" class="btn raise">Read more</a>
		</div>

	</div>
</div>
