<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}');min-height:800px">
  <div class="mw7 center ph3">
    <div class="db mb3">
        <img class="center-image" src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAVPAAAAJGEwMmM3ZmQxLTM0Y2QtNDE4MS1iZGEwLTRhMzE3NGM1N2RhYw.jpg" alt="Avatar" style="border-radius: 50%;">
      <div class="mw7 relative bg-fix-primary mb3" style="text-align:center">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary" style="text-align:center">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
      <div class="social">
          <ul class="mhn2">
            <a href="https://facebook.com/sani9" id="fb">
              <img width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/facebook.svg" />
            </a>  
            <a href="https://twitter.com/khursani8" id="tw">
              <img width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" />
            </a>
            <a href="https://github.com/khursani8" id="github">
              <img width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
            </a>
            <a href="https://www.instagram.com/khursani8/" id="insta">
              <img width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/instagram.svg" />
            </a>
            <a href="https://www.freecodecamp.org/khursani8" id="cc">
              <img width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/freecodecamp.svg" />
            </a>
            <a href="https://www.linkedin.com/in/khursani/" id="linkedin">
              <img width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/linkedin.svg" />
            </a>
            <a href="https://www.kaggle.com/khursani8" id="kaggle">
              <img width="40" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/kaggle.svg" />
            </a>
          </ul>
        </div>
    </div>
  </div>
</div>

<style>
    .center-image {
      width:120px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
  }
  .social{
    text-align: center;
    margin-top: 50px
  }
  a img{
    padding:10px;
    border-radius: 50%;
    background-color: white
  }
</style>
