{{ partial "head" . }}

{{ partial "nav" . }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<!-- <img src="/img/logo.svg" alt="" class="db w4 center pv4"> -->
		<h1 style="text-align:center">KHURSANI'S ACHIEVEMENTS</h1>
		
		<div class="mw7 center ph3 pv4">

			<div class="flex flex-wrap mhn1">
				<div class="w-100 w-50-ns ph1-ns">
					<a href="https://www.coursera.org/account/accomplishments/certificate/QNW589QATDY3">
						<img src="/img/achievements/deeplearning1.png" alt="a">
					</a>
				</div>

				<div class="w-100 w-50-ns ph1-ns">
					<a href="https://www.coursera.org/account/accomplishments/certificate/KLAZMB7UANXK">
						<img src="/img/achievements/deeplearning2.png" alt="a">
					</a>
				</div>
		
				<div class="w-100 w-50-ns ph1-ns">
					<img src="/img/achievements/cehv8.png" alt="a">
				</div>
		
				<div class="w-100 w-50-ns ph1-ns">
					<a href="https://courses.cognitiveclass.ai/certificates/8282ba8f69734714971864c717040b2c">
						<img src="/img/achievements/python101.png" alt="a">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{{ partial "footer" . }}
